#h1{
    color: green;
    text-align: center;
    font-size: 30px;
    background-image: url(https://cdn.pixabay.com/photo/2015/04/23/22/00/tree-736885_640.jpg);
    background-repeat: no-repeat;
    background-position: center;
    height: 200px;
    border-style:groove;
    border-width: 20px;
    border-color: crimson;
    border-radius: 25%;
    margin: 30px 300px 30px;
}
h2{
    align-content:center ;
    text-align: center;
    background-color:rgb(154, 74, 154);
    margin: 20px 300px 30px;
    padding: 15px;
}
#box{
    display: flex;
    flex-direction:row;
}
.h3{
width: 200px;
height:auto;
margin-left: 160px;
border: 5px solid;
border-color: blue;
background-color: yellow;
text-align: center;
}
p{
    text-align: justify;
    padding: 8px;
}
body{
    background-color: aqua;
}