a:link{
    color: red;
}
a:visited{
    color: green;
}
a:hover{
color: blue;
}
a:active{
    color:orange;
}
a{
    font-size: 100px;
    font-family:'Courier New', Courier, monospace;
    text-decoration: none;
    background-color: aquamarine;
    display:flexbox;
}