img{
    width: 500px;
    height: 300px;
}
div{
    border: 2px solid;
    width: 300px;
    height: 300px;
    box-sizing: border-box;
    overflow: hidden;
    width: calc(728px * 4);
    max-width: 400px;
    float: left;
}
animation: normal;
animation-name: fade;
display: inline-flex;
margin: auto;

@keyframes slide {
    20% {
        margin-left: 0px;
    }
    40% {
        margin-left: calc(-728px * 1);
    }
    60% {
        margin-left: calc(-728px * 2);
    }
    80% {
        margin-left: calc(-728px * 3);
    }
}
button.left{

}
<img src="https://www.carandbike.com/_next/image?url=https%3A%2F%2Fc.ndtvimg.com%2F2022-01%2F0d2m0qkg_car_625x300_12_January_22.jpg&w=3840&q=75" alt="Image 1">
<img src="https://images.autotrader.com/hn/c/a98305bf5d714c4f94ffcdfd6e2407f8.jpg" alt="Image 2">
<img src="https://o.aolcdn.com/hss/storage/midas/bfd7f8e2a223e3a31044651617243392/200702281/001-2015-volvo-xc90-first-edition628opt.jpg" alt="Image 3">
<img src="https://image-prod.iol.co.za/16x9/800/?source=https://xlibris.public.prod.oc.inl.infomaker.io:8443/opencontent/objects/e62ab689-93b2-5b70-8872-2f9a8e737c93" alt="Image 4">
